/* src/App.css */

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-primary);
}

.content-wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: var(--spacing-5); /* Espaçamento padrão para telas grandes */
  flex-grow: 1;
}

/* Media query para telas menores (celulares) */
@media (max-width: 768px) {
  .content-wrapper {
    padding: var(--spacing-3); /* Diminui o espaçamento em telas menores */
  }
}